<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @branch } %>

<%= form_for [@shop, @branch] do |f| %>
  <div class="well">
    <fieldset data-hook="branch_new_form">
      <legend><%= Spree.t(:new_branch) %></legend>
      <%= render :partial => 'form', :locals => { :f => f } %>
      <%= render :partial => 'spree/shared/new_resource_links' %>
    </fieldset>
  </div>
<% end %>
